[submodule "desktop-agent"]
	path = desktop-agent
	url = https://github.com/MohdHedayati/Local-app---system-health-metric-analyzer.git
	branch = main
[submodule "web-agent"]
	path = web-agent
	url = https://github.com/Once-1296/Web_App_For_System_Health_Metrics_Analyser.git
	branch = main
[submodule "ML-Model-Windows"]
	path = ML-Model-Windows
	url = https://github.com/Once-1296/INHERITANCE-ML-MODEL-HOST.git
	branch = main
